<div class="form-container">
  <h2>{{ isEditMode ? 'Редактировать' : 'Создать' }}</h2>

  <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Название</label>
      <input type="text"
             id="name"
             formControlName="name"
             [class.invalid]="name?.invalid && (name?.dirty || name?.touched)">
      <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="error-message">
        <div *ngIf="name?.errors?.['required']">Title is required</div>
        <div *ngIf="name?.errors?.['minlength']">Minimum length is 3 characters</div>
        <div *ngIf="name?.errors?.['maxlength']">Maximum length is 100 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="warrantyPeriod">Гарантия</label>
      <input type="text"
             id="warrantyPeriod"
             formControlName="warrantyPeriod"
             [class.invalid]="warrantyPeriod?.invalid && (warrantyPeriod?.dirty || warrantyPeriod?.touched)">
      <div *ngIf="warrantyPeriod?.invalid && (warrantyPeriod?.dirty || warrantyPeriod?.touched)" class="error-message">
        <div *ngIf="warrantyPeriod?.errors?.['required']">Title is required</div>
        <div *ngIf="warrantyPeriod?.errors?.['minlength']">Minimum length is 3 characters</div>
        <div *ngIf="name?.errors?.['maxlength']">Maximum length is 100 characters</div>
      </div>
    </div>
    

    <div class="form-group">
      <label for="price">Цена</label>
      <input type="number"
             id="price"
             formControlName="price"
             step="0.01"
             [class.invalid]="price?.invalid && (price?.dirty || price?.touched)">
      <div *ngIf="price?.invalid && (price?.dirty || price?.touched)" class="error-message">
        <div *ngIf="price?.errors?.['required']">Price is required</div>
        <div *ngIf="price?.errors?.['min']">Price must be at least 0.01</div>
      </div>
    </div>

    <div class="form-group">
      <label for="quantity">Количество</label>
      <textarea id="quantity"
                formControlName="quantity"
                rows="4"
                [class.invalid]="quantity?.invalid && (quantity?.dirty || quantity?.touched)"></textarea>
      <div *ngIf="quantity?.invalid && (quantity?.dirty || quantity?.touched)" class="error-message">
        <div *ngIf="quantity?.errors?.['required']">Description is required</div>
        <div *ngIf="quantity?.errors?.['maxlength']">Maximum length is 1000 characters</div>
      </div>
    </div>

    <div class="form-group">
      <label for="manufacturerId">Производитель</label>
      <select id="manufacturerId" formControlName="manufacturerId"
              [class.invalid]="manufacturerId?.invalid && (manufacturerId?.touched || manufacturerId?.dirty)">
        <option value="">Выберите производителя</option>
        <option *ngFor="let manufacturer of manufacturers" [value]="manufacturer.id">
          {{ manufacturer.name }}
        </option>
      </select>
      <div *ngIf="manufacturerId?.invalid && (manufacturerId?.touched || manufacturerId?.dirty)" class="error-message">
        <div *ngIf="manufacturerId?.errors?.['required']">Выберите производителя</div>
      </div>
    </div>

    <div class="form-actions">
      <button type="submit"
              class="btn-submit"
              [disabled]="productForm.invalid">
        {{ isEditMode ? 'Обновить' : 'Создать' }}
      </button>
      <button type="button"
              class="btn-cancel"
              (click)="cancel()">
        Отменить
      </button>
    </div>
  </form>
</div>